body {
    margin: 0;
    padding: 0;
    background-color: #213756;
    color: #D3A62F;
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
  }
  
  header {
    padding: 1rem 2rem;
    font-family: 'DM Serif Display', serif;
    font-size: 0.9rem;
    text-align: left;
    color: #D3A62F;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
  }
  
  .circle-grid {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    margin-top: 4rem;
  }
  
  .circle-grid::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .circle-grid.left,
  .circle-grid.right {
    max-width: 200px;
  }
  
  .circle-grid div {
    width: 8px;
    height: 8px;
    border: 1px solid #D3A62F;
    border-radius: 50%;
  }
  
  .circle-grid.left,
  .circle-grid.right {
    grid-template-rows: repeat(15, 1fr);
  }
  
  .circle-grid.left > div,
  .circle-grid.right > div {
    background: transparent;
  }
  
  .content {
    max-width: 600px;
    padding: 1rem;
  }
  
  .tagline {
    color: #FFFFFF;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .name {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0.5rem 0 1.5rem;
  }
  
  .bio {
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 1rem;
    color: #D3A62F;
  }
  
  .buttons {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .button {
    border: 1px solid #D3A62F;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    text-decoration: none;
    color: #D3A62F;
    font-size: 1rem;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background-color: #D3A62F;
    color: #213756;
  }
  